- hosts: all
  become: yes

  roles:
    - role: geerlingguy.pip
      tags: setup
      vars:
        pip_install_packages:
          - name: docker

    - role: geerlingguy.docker
      tags: setup

  tasks:
    - name: Create app (redmine)
      tags: app
      block:
        - name: Create directory for app
          file:
            path: '{{ app_dir }}'
            state: directory

        - name: Create environment variables
          template:
            src: .env.example.j2
            dest: '{{ app_env }}'

        - name: Run container
          community.docker.docker_container:
            name: redmine
            image: redmine
            state: started
            restart: true
            env_file: '{{ app_env }}'
            ports:
              - '{{ redmine_port }}:{{ redmine_port_int }}'
